
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Washing</title>
   {% load static%}
    {% load socialaccount %}

    <link rel="stylesheet" type="text/css" href="{%static 'w/style.css'%}" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
{% load socialaccount %}

    <section id="header">


        <div>
        <ul class="navbar" id="nav">

            <li> <a  href="home" class="but">Home</a></li>
            <li> <a href="support" class="but">Support</a></li>
            <li> <a href="history" class="but">History</a></li>
            <li> <a href="{% provider_login_url 'google' %}?next=/book" class= "but" id="login" >login</a></li>

        </ul>
         </div>



</section>
    <h2 style=" text-align: center; margin-top: 10px;"> Reserve Your Laundry Slot Anytime </h2>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\conv.jpg"  style="height: 200px; width: 200px; object-fit: cover;">
            <h6>Convenient Online Booking</h6>
        </div>
        <div class="fe-box">
            <img src="https://static.helpjuice.com/helpjuice_production/uploads/upload/image/4752/2945895/1678890774384-Knowledge%2BManagement%2BGuide.jpg"  style="height: 200px; width: 200px;">
            <h6>Efficient Service</h6>
        </div>
        <div class="fe-box">
            <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\userfrndly.jpg"  style="height: 200px; width: 200px;">
            <h6>user friendly</h6>
        </div>
        <div class="fe-box">
            <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\24.jpg"  style="height: 200px; width: 200px;">
            <h6>24/7Support</h6>
        </div>
    </section>
    <h2 style="text-align: center;">Exquisite Experiences</h2>
    <section id="testimonial">

     <div class="slide-container">
          <div class="slide-content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay">

                        </span>

                        <div class="card-image">
                            <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\1.jpg" alt="" class="acrd-image">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">David</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis accusamus magni eligendi molestiae asperiores dolore amet reiciendis nisi non placeat debitis!</p>
                        <!-- <button class="button">

                        </button> -->

                    </div>
                </div>
            </div>
          </div>
       </div>
       <div class="slide-container">
        <div class="slide-content">
          <div class="card-wrapper">
              <div class="card">
                  <div class="image-content">
                      <span class="overlay">

                      </span>

                      <div class="card-image">
                          <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\2.jpg" alt="" class="acrd-image">
                      </div>
                  </div>
                  <div class="card-content">
                      <h2 class="name">David</h2>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis accusamus magni eligendi molestiae asperiores dolore amet reiciendis nisi non placeat debitis!</p>
                      <!-- <button class="button">
                       view more
                      </button> -->

                  </div>
              </div>
          </div>
        </div>
     </div>
     <div class="slide-container">
        <div class="slide-content">
          <div class="card-wrapper">
              <div class="card">
                  <div class="image-content">
                      <span class="overlay">

                      </span>

                      <div class="card-image">
                          <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\3.jpg" alt="" class="acrd-image">
                      </div>
                  </div>
                  <div class="card-content">
                      <h2 class="name">David</h2>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis accusamus magni eligendi molestiae asperiores dolore amet reiciendis nisi non placeat debitis!</p>
                      <!-- <button class="button">
                       view more
                      </button> -->

                  </div>
              </div>
          </div>
        </div>
     </div>
     <div class="slide-container">
        <div class="slide-content">
          <div class="card-wrapper">
              <div class="card">
                  <div class="image-content">
                      <span class="overlay">

                      </span>

                      <div class="card-image">
                          <img src="c:\Users\TRIDEEP\OneDrive\Desktop\Home washing\4jpg.jpg" alt="" class="acrd-image">
                      </div>
                  </div>
                  <div class="card-content">
                      <h2 class="name">David</h2>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis accusamus magni eligendi molestiae asperiores dolore amet reiciendis nisi non placeat debitis!</p>
                      <!-- <button class="button">
                       view more
                      </button> -->

                  </div>
              </div>
          </div>
        </div>
     </div>

    </section>
    <script>

    </script>
     -->


                                                                               <!-- reference... -->


     <!-- <section class="sec-01">
        <div class="container">
          <h2 class="main-title">Reveal Elements On Scroll</h2>
          <div class="content">
            <div class="image">
              <img src="img1.jpg" alt="">
            </div>
            <div class="text-box">
              <h3>Lorem Ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="media-icons">
            <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </section>
      <section class="sec-02">
        <div class="container">
          <h3 class="section-title">Lorem Ipsum</h3>
          <div class="content">
            <div class="image">
              <img src="img2.jpg" alt="">
            </div>
            <div class="info">
              <h4 class="info-title">Description</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="sec-03">
        <div class="container">
          <h3 class="section-title">Lorem Ipsum</h3>
          <div class="content">
            <div class="media-info">
              <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
              <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            </div>
            <div class="image">
              <img src="img3.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
   -->


<div class="faq" style=" margin-top:50px;">
 <h1>Frequently Asked Question's</h1>
<div style=" margin-top:50px;" >
<div class="accordian">
  <div class="question">
      <h4>How do I use the hostel washing machine?</h4>
      <i class="icon fa-solid fa-caret-down"></i>
  </div>
  <div class="answer">
<br>
      <section id="video">
          <p>Watch Our Tutorial Video</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/pVR-AjsbPg0?si=xJDuMB5A9ESTBf6l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </section>
  </div>
</div>

<div class="accordian">
  <div class="question">
      <h4>Can I wash delicate items in the hostel washing machines?</h4>
      <i class="icon fa-solid fa-caret-down"></i>
  </div>
  <div class="answer">
     <p>It is advisable to hand wash delicate items. If you must use the machine, use a gentle cycle and place delicate items in a mesh laundry bag for protection.</p>
  </div>
</div>

<div class="accordian">
  <div class="question">
      <h4>What is the cost associated with using the washing machine in the hostel?</h4>
      <i class="icon fa-solid fa-caret-down"></i>
  </div>
  <div class="answer">
      <p>The use of washing machines is included in your hostel fees, and there is no additional cost.</p>

  </div></div>
    <div class="accordian">
  <div class="question">
      <h4>Is laundry detergent provided, or should I bring my own?</h4>
      <i class="icon fa-solid fa-caret-down"></i>
  </div>
  <div class="answer">
    <p>You are responsible for bringing your own laundry detergent. The hostel does not provide it.</p>
        </div>

  </div>


    <div class="accordian">
  <div class="question">
      <h4>How often can I use the washing machine?</h4>
      <i class="icon fa-solid fa-caret-down"></i>
  </div>
  <div class="answer">
      <p>Atmost two times a week.</p>

  </div>
</div>


<div class="accordian">
  <div class="question">
      <h4>What should I do if the washing machine malfunctions?</h4>
      <i class="icon fa-solid fa-caret-down"></i>
  </div>
  <div class="answer">
      <p>Report about it , through visiting Support page.</p>
  </div>
</div></div></div>
    <script >const accordians = document.querySelectorAll('.accordian');

accordians.forEach(accordian => {
    const icon = accordian.querySelector('.icon');
    const answer = accordian.querySelector('.answer');

    accordian.addEventListener('click', () => {

        if(icon.classList.contains('active')) {
            icon.classList.remove('active');
            answer.style.maxHeight = null;
        } else {
            icon.classList.add('active');
            answer.style.maxHeight = answer.scrollHeight + 'px';
        }

    })
})</script>
 <script>
    ScrollReveal({
      distance: '60px',
      duration: 2500,
      delay: 400
    });
    ScrollReveal().reveal('.faq, .fe-box', { delay: 500, origin: 'left' });
    ScrollReveal().reveal('h2', { delay: 600, origin: 'bottom' });
    ScrollReveal().reveal('.text-box', { delay: 700, origin: 'right' });
    ScrollReveal().reveal('.testimonial', { delay: 500, origin: 'bottom', interval: 200 });
    ScrollReveal().reveal('.sec-02 .image, .sec-03 .image', { delay: 500, origin: 'top' });
    ScrollReveal().reveal('.media-info li', { delay: 500, origin: 'left', interval: 200 });
  </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://kit.fontawesome.com/79b82143e2.js" crossorigin="anonymous"></script>

</body>
</html>