.block1{
background-color: #edd5ed;
display:flex;
flex-wrap:wrap;
height:600px;
border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin:60px;

}
.text-block{

width:50%;
flex: 1;
font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:25px;


     align-items: center;
     text-align:center;
}
.image-block{
flex: 1;
width:50%;
height:450px;


}
#main-text2{
  font-size:80px;
}
